
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">
        <img src="/assets/img/HONEUR_logo.png" width="200"/> {{title}}
      </div>
    </div>
    <ul class="nav navbar-nav mr-xl-auto" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="/studycatalog">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/studycatalog/add">Add Study</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<p> </p>

<!-- Footer -->
<footer class="py-5">
  <div class="container">
    <p class="text-center">Copyright &copy; HONEUR 2018</p>
  </div>
</footer>
