<div class="container-fluid">
  <form #studyForm="ngForm" (ngSubmit)="save()">
    <div class="form-group row">
      <label class="col-md-2 col-form-label">Name</label>
      <div class="col-md-10">
        <input [(ngModel)]="study.name" name="name" type="text" required #name="ngModel"/>
        <span [hidden]="name.valid || !submitted" class="error">
        Name is required
      </span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 col-form-label">Reference</label>
      <div class="col-md-10">
        <input [(ngModel)]="study.reference" name="reference" type="text" required #reference="ngModel"/>
        <span [hidden]="reference.valid || !submitted" class="error">
        A reference is required
      </span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 col-form-label">Description</label>
      <div class="col-md-10">
        <input [(ngModel)]="study.description" name="description" type="text" required #description="ngModel"/>
        <span [hidden]="description.valid || !submitted" class="error">
        A description is required
      </span>
      </div>
    </div>
    <div class="form-group row" *ngIf="study.initiator">
      <label class="col-md-2 col-form-label">Initiator</label>
      <div class="form-group col-md-10 row">
        <label class="col-md-2 col-form-label">Name</label>

        <div class="col-md-10">
          <input [(ngModel)]="study.initiator.name" name="initiatorName" type="text" required #initiatorName="ngModel" />
        </div>
      </div>
      <div *ngFor="let ud of study.initiator.userDetails" class="form-group offset-2 col-md-10 row">
        <label class="col-md-2 col-form-label">{{ud.key}}</label>

        <div class="col-md-10">
          <input [(ngModel)]="ud.value" name="{{ud.value}}" type="text" required />
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 col-form-label">Collaborators</label>

      <div *ngFor="let u of users">
        <label class="col-md-2 col-form-label">
          <input class="form-check-input" type="checkbox" (change)="updateCheckedCollaborators(u, $event)" name="collaborators">{{u.name}}
        </label>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 col-form-label">Acknowledgements</label>

      <div class="col-md-10">
        <input [(ngModel)]="study.acknowledgements" name="acknowledgements" type="text" required #acknowledgements="ngModel" />
      </div>
    </div>
    <div class="form-group row">
      <button type="submit" class="btn btn-primary">Save</button>
      <button class="btn" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
